In [1]:
import pandas as pd

In [4]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sunyloaner\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sunyloaner\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\sunyloaner\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sunyloaner\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sunyloaner\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [5]:
from sklearn import datasets

In [8]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(csv_url, header = None)

In [9]:
iris.dtypes

0    float64
1    float64
2    float64
3    float64
4     object
dtype: object

In [10]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [11]:
# lets start our coding from tommorrow

# sure, we'll start tommorrow guys. @sumedh and @maneendra might clone the repository

# We got approval, yeyy!

Clone completed loaded it on my laptop!!! we gonna ace it